@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Value */
:root {
	--layout-width: 1296px;
}
/* Init */
body{
    font-family: "Bruno Ace SC", sans-serif;
    line-height: 1.5;
}
/* 基準線 */
*,*::before,*::after{
    box-sizing: border-box;
    /* outline: solid 1px; */
}

/* 連結清空 */
a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}  

/* ---------- */

/* layout */
.header{
    background: #000;
    color:#D1D1D1;
    padding: 40px 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* component */
.btn{
    padding: 12px 24px;
    border-radius: 32px;
}
.btn-light{
    background: white;
    color: #000;
}
.btn-light-b{
    background: #000;
    color: white;
}

/* page */
.banner{
    background: black;
    color: white;
}
.banner-title-strong{
    display: block;
    text-align: right;
}

.intro{
    background-image: url(img/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 160px 0;
}
.intro-desc{
    width: 526px;
}

.about{
    padding: 160px 0;
}

.about-list{
    width: 630px;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap:24px;
}
.about-list li{
    /* width: 48%; */
    width: calc(50% - 12px);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.about-desc{
    width: 526px;
}

.contact{
    /* background: linear-gradient(#000, #fff); */
    color: #fff;
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.con-img{
    width: 100px;
}
.con-icon {
    padding-top: 96px;
    padding-bottom: 96px;
}

.social-link{
    border-radius: 40px;
    transition: 0.5s;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.social-link:hover{
    box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
}

.project{
    padding-top: 160px;
    padding-bottom: 160px;
}
.project-title{
    width: 746px;
    margin-left: auto;
}

.footer{
    background: #000;
}
.footer_p{
    padding-top: 40px;
    padding-bottom: 40px;
    color: #FFF;
    text-align: center;
}
/* utils */

/* rgba(0, 255, 163, 1) */
.container{
    width: var(--layout-width);
    margin: 0 auto;
}
.h1{
    font-size: 128px;
}
.h2{
    font-size: 40px;
}
.fs-1{
    font-size: 32px;
}
.fs-2{
    font-size: 24px;
}
.fs-3{
    font-size: 20px;
}
.fs-4{
    font-size: 16px;
}
.Ty{
    font-size: 64px;
}

.m-b28{
    margin-bottom: 28px;
}
.m-b32{
    margin-bottom: 32px;
}
.m-b36{
    margin-bottom: 36px;
}

.m-r16{
    margin-right: 16px;
}
.m-r20{
    margin-right: 20px;
}
.m-r24{
    margin-right: 24px;
}


.text-primary{
    color: #00ffa3;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-content-end{
    justify-content: end;
}
.justify-content-between{
    justify-content: space-between;
}

.align-items-start{
    align-items: start;
}

.align-items-center{
    align-items: center;
}

.gap{
    gap:24px;
}